body {
	              
	background: none;
	              
	}
	          
	.container {
	display: grid;
	grid-template-columns: 40% 60%;      
	/*text-align: center;
	margin-top: 100px;
	width: 450px;*/
	              
	}

	.container > div{
		padding: 1em;
		/*background-color: #ee6375;**/
	}

	.container > div.tab {
		padding: 1em;
		/*background-color: #ecc6cb;*/
	}
	          
	input {
	              
	    margin: 20px 0;
	              
	}
	          
	#weather {
	              
	    margin-top:15px;
	              
	}
	         